@import url('../css/fonts.css');

/*========Colors========*/
:root{
--glow1:#00ffff;
--glow2:#ff0072;
--second: #1b2431;
}
/*=======================*/

/*========Fonts==========*/

/*=======================*/


html{
    margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
	/* background: var(--second); */
	background-image: url('assets/background2.png');
}

body{
	height: 2000px;
	width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.seperator{
	height: 600px;
}

/*============--navbar============-*/

body .header-nav {
	position: fixed;
    top: 0;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	z-index: 1;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	overflow: hidden;
}


.head {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 10px;
	background: linear-gradient(0.15turn, rgb(248, 181, 181,0.9), rgba(255, 230, 237,0.9), rgb(220, 235, 248,0.9));
	overflow: hidden;
} 

.head .logo{
	padding-left: 1%;
}

.head li {
	padding-top: 15px;
	list-style: none;
	margin-right: 20px;
	font-size: 16.25px;
	font-weight: bolder;
	font-family:'Courier New', Courier, monospace;
}

.head li a {
	text-decoration: none;
	color: rgb(94, 93, 93);
	font-weight: bolder;
}

.head li a::after{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	top: 0.5px;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--glow2);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.head li a:hover{
	text-decoration: underline;
	text-decoration-color: #ff0072;
	text-decoration-style:solid;
	text-decoration-thickness: 2px;
	transform: scaleX(1);
  	transform-origin: bottom left;
}

.head li a:hover::after{
	transform: scaleX(1);
  	transform-origin: bottom left;
}

.head section {
	height: 100%;
	display: grid;
	place-items: center;
	font-size: 16px;
	font-weight: bold;
	background: #eee;
}

.btn-register{
	padding: 10px;
	margin: 0;
	font-size: 16px;
	font-weight: bolder;
	font-family:'Courier New', Courier, monospace;
	border-radius: 5%;
	border: 2px solid transparent;
	text-decoration: none;
	color: #ffffff;
	background: var(--glow2);
}
.btn-register::before, .btn-register::after, span::before, span::after {
    display: block;
    content: "";
    width: 5px;
    height: 3px;
	position: absolute;
}

.btn-register::before {
    top: 24%;
    left: 90.3%;
    border-top: 2px solid var(--glow2);
    border-left: 2px solid var(--glow2);
    transition: 0.5s all;
}

.btn-register::after {
    top: 24%;
    right: 30px;
    border-top: 2px solid var(--glow2);
    border-right: 2px solid var(--glow2);
    transition: 0.5s all;
}

span::before {
    bottom: 48px;
    left: 90.3%;
    border-bottom: 2px solid var(--glow2);
    border-left: 2px solid var(--glow2);
    transition: 0.5s all;
}

span::after {
    bottom: 48px;
    right: 30px;
    border-bottom: 2px solid var(--glow2);
    border-right: 2px solid var(--glow2);
    transition: 0.5s all;
}

.btn-register:hover::before, .btn-register:hover::after {
    width: 25px;
    height: 10px;
}

.btn-register:hover span::before, .btn-register:hover span::after {
    width: 25px;
    height: 10px;
}

.btn-register:hover{
	border-style: 10px;
	cursor: pointer;
	background: rgb(0, 0, 0);
	color: rgb(255, 197, 197);
}


/*======x======navbar======x======*/

/*==========header video==========*/
.head-vid{
	padding-top: 10%;
	padding-left: 25px;
	padding-right: 25px;
	width: 95vw;
	overflow: hidden;
	z-index: 0;
}

.tagline1 {
    position:absolute;
	padding: 15px;
    top:50%;
    left:10vw;
    z-index:0;
}

.head_learnmore{
	padding: 10px;
	margin-left: 50px;
	margin-top: 40px;
	font-size: 21px;
	font-weight: bolder;
	font-style: italic;
	font-family:monospace;
	border-radius: 5%;
	border: 2px solid transparent;
	text-decoration: none;
	color: #000;
	background: rgb(255, 197, 197);
}

.head_learnmore:hover{
	cursor: pointer;
	background: black;
	color: rgb(255, 197, 197);
	border-style: 10px;
	border-color: #ff0072;
	transition: 0.5s;
}

.head_joinnow{
	padding: 10px;
	margin-left: 30px;
	font-size: 21px;
	font-weight: bolder;
	font-family:monospace;
	font-style: italic;
	border-radius: 5%;
	border: 2px solid transparent;
	text-decoration: none;
	color: rgb(255, 197, 197);
	background: #000;
}

.head_joinnow:hover{
	cursor: pointer;
	background: #ff0072;
	color: black;
	border-style: 10px;
	border-color: #000;
	transition: 0.5s;
}

/*=====x=====header video=====x=====*/

